{% extends 'system_admin/home_page.html' %}

{% block content %}
<br>
  <form action="{{ url_for('system_admin.edit_assigned_dept_role', role_email_id = role_email_id) }}" method="post">
    <div class="form-row col-md-8">

      <div class="form-group col-md-4">
        <label for="password">New Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="employee_email_id">New Employee Email ID</label>
      <select name = "employee_email_id" id="employee_email_id" class="form-control">
          <option selected>Choose...</option>
          {% for item in employees_data %}
          <option value = "{{item[0]}}">{{item[0]}}</option>
          {% endfor %}
        </select>   
       </div>
    
      <div class="form-group col-md-4">
          <label for="employee_assigned_post_date">Start of Tenure</label>
          <input type="date" class="form-control" name="employee_assigned_post_date" >
      </div>   
      <div class="form-group col-md-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

{% endblock %}