{%extends "layout.html"%}
{%block body%}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{url_for('system_admin.home_page')}}"><b>ADMIN ACTIONS</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('system_admin.home_page')}}">Home <span class="sr-only">(current)</span></a>
            </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{{url_for('system_admin.RD_employees')}}">Employees</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="{{url_for('system_admin.registration_requests')}}">Registration Requests</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Roles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{{url_for('system_admin.show_all_roles')}}">Show Roles</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{url_for('system_admin.add_non_dept_roles')}}">Non-Dept Roles</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{url_for('system_admin.add_dept_roles')}}">Departmental Roles</a>
                          <div class="dropdown-divider"></div>
                        </div>
                      </li>

                      <li class="nav-item dropdown active">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Department
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('system_admin.CRD_departments')}}">Department Actions</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{url_for('system_admin.show_departments')}}">Show Departments</a>
                            
                          </div>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Assign Roles
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{{url_for('system_admin.assign_emp_non_dept_role')}}">Assign Non-Dept Roles</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{{url_for('system_admin.assign_emp_dept_role')}}">Assign Dept Roles</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{{url_for('system_admin.show_assigned_role')}}">Show Assigned Roles</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{{url_for('system_admin.show_assigned_dept_role')}}">Show Assigned Dept Roles</a>
                              
                            </div>
                          </li>
            
          </ul>
        </div>
      </nav>

      {% block content%}
      {% endblock %}

{%endblock%}