{% extends 'system_admin/home_page.html' %}

{% block content %}
<h4> Present Roles</h4>

<table class="table">
    <thead>
      <tr>
        <!-- <th scope="col"> # </th>  -->
        <th scope="col">Role EmailID</th>
        <th scope="col">Employee  Email ID</th>
        <th scope="col">Department</th>
        <th scope="col">Created On</th>
        <th scope="col">Role Name</th>
        <th scope="col">Start Date of Tenure</th>
        <th>Change Employee</th>
      </tr>
    </thead>
    <tbody>
            {% for item in assigned_role_data %}
        <tr>
        <!-- <th scope="row">1</th> -->
        <td>{{item[0]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td><a href="{{ url_for('system_admin.edit_assigned_dept_role', role_email_id = item[0] ) }}" class="btn btn-default pull-right">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}