{% extends "bootstrap/base.html" %}


<!--title-->
{% block title %}
Initiate Process
{% endblock %}


<!--metas-->
{% block metas %}
<meta charset="utf-8">
{{ super() }}
{% endblock %}




{% block content%}

<!--content here-->

{% for x in permissibleWorkflows %}
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      {{x}}
    </label>
</div>  
{% endfor %}

<form method="POST" action="/initiateProcess" id="processIdSubmit" role="form">
    <input type="hidden" id="processId" name="processId" value="3487">
</form>

<button type="button" id="processInit-btn" class="btn btn-primary">Initiate</button>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>    
    <script src="{{ url_for('static', filename='processInitFiles/processInit2.js')}}  "></script>
{% endblock %}




