{% extends "bootstrap/base.html" %}

<!--title-->
{% block title %}
    Editor
{% endblock %}

<!--metas-->
{% block metas %}
<meta charset="utf-8">
{{ super() }}
{% endblock %}
 

<!--styles-->
{% block styles %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='workflowEditorFiles/styles/stylesheet.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='workflowEditorFiles/styles/modalFormStyle.css') }}">
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='workflowEditorFiles/styles/screenLayout.css') }}">
{% endblock %}

<!--body attributes-->
{% block body_attribs %}
    style="position: relative; min-height: 100%; top: 0px;"
{% endblock %}

<!--content-->
{% block content %}
    <div class="row" style="height: 573px;">
            
        <div class="leftpanel" style="touch-action:none; width: 293px; margin-bottom: 150px; margin-top: 100px;">
        
        <!-- Functionalities to be added by SHivang -->

        <div class="btn-group" style="padding: 10px">
            
            <button type="button" class="btn btn-primary" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add</button>
        
        <div id="id01" class="modal">
            <form id="schema_form" class="new_schema" action="/schemas" accept-charset="UTF-8" method="post">
                <!-- PUT ADDING NODE FUNCTIONALITY HERE -->
                </form>        
        </div>
        
            <button type="button" class="btn btn-primary" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Remove</button>
        
        <div id="id01" class="modal">
            <form id="schema_form" class="new_schema" action="/schemas" accept-charset="UTF-8" method="post">
            <!-- PUT FUNCTIONALITY TO Remove node HERE    -->
            </form>        
        </div>               
        </div>


    <div class="btn-group" style="padding: 10px;">
    <button type="button" class="btn btn-primary" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Configure</button>

    <div id="id01" class="modal">
    <form id="schema_form" class="new_schema" action="/schemas" accept-charset="UTF-8" method="post">
    <!-- PUT FUNCTIONALITY TO CONFIGURE WORKFLOW HERE                  -->
    </form>        
    </div>
    </div>


    <!-- END of SHIvang's Functionalities -->




        
        <div class="btn-group" style="padding: 10px;">
            <!-- <input  id="form-manager" type="button" class="btn btn-primary" value="Form manager"  /> -->
            <!-- <button type="button" class="btn btn-primary" id="form-builder"  style="width:auto;">Form manager2</button> -->
            <!-- <button type="button" class="btn btn-primary" onclick=" window.open('workflowEditorFiles/formbuilder.html','_blank')"> Form manager</button> -->
            <form action="/formBuilder" method="GET" target="_blank">
                <input type="submit" class="btn btn-primary" value="Form manager">
            </form>
        </div>


    <div class="btn-group" style="padding: 10px;">
        <form method="POST" action="/workfloweditor" id="serverSubmit" role="form">
            <input type="hidden" id="custId" name="custId" value="3487">
            <!-- <input type="button" id="01" class="btn btn-primary" value="Submit"> -->
            <!-- <button type="button" class="btn btn-primary" name = "submit" id="01">submit</button> -->
            <button type="button" id = "final-submit-btn" class="btn btn-primary" onclick="fetchAndSendData()" style="width:auto;">Submit</button>

            </form>
        </div>
    
        
       
        <!-- <div id="id01" class="modal">
            
            <form class="modal-content animate" target="_blank" action="/action_page.php" method="post">
            <div id="build-wrap"></div>
            <div class="setDataWrap">                  
            <button id="getJSON" type="button">Submit</button>                  
            </div>
            </form>
        </div> -->
        
        </div>
        <!-- Canvas -->
        <!-- THE WORKFLOW display NEEDS TO BE INSERTED IN THIS AREA -->
        <div id="workarea" class="main-panel" style="bottom: -150px;">
        <div id="document-area" style="touch-action:none;top: -110px; bottom: -150px;">
            <div class="document-ruler-corner" id="c-ruler" style="visibility: hidden; user-select: none;"></div>
            
            <div id="svgarea" style="inset: 10px 0px 0px 234.333px; touch-action: none; width: 900px; height: 500px; margin-left: 100px;margin-top: 50px; margin-bottom: 50px; overflow: hidden; user-select: none; ;" class="">
                <div class="doc_loader">
                    <h1>LOADING</h1>
                    <div class="doc_loader_circles">
                    <div class="doc_loader_circle loadCircle1"></div>
                    <div class="doc_loader_circle loadCircle2"></div>
                    <div class="doc_loader_circle loadCircle3"></div>
                    </div>
                </div>
                <!-- <input id="SDTS_TouchProxy" type="text" style="color:transparent; position:fixed; z-index:-1; left:-1000px; top:-1000px; width:0px; height:0px; padding:0px; margin:0px; border:0px; border-radius:0px; touch-action:none; text-align:center;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/> -->
                <textarea id="SDTS_TouchProxy" style="color:transparent; position:fixed; z-index:-1; left:-1000px; top:-1000px; width:0px; height:0px; padding:0px; margin:0px; border:0px; touch-action:none; text-align:center;" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false"></textarea>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    
    </div>     

{% endblock %}


<!--scripts-->
{% block scripts %}
    {{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='workflowEditorFiles/form-builder.min.js')}}"></script>
    <script src="{{ url_for('static', filename='workflowEditorFiles/modalFormScript.js')}}"></script>
    <script src="{{ url_for('static', filename='workflowEditorFiles/sendData2.js')}}"></script>

    

{% endblock %}